<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yum Kaax</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="~/Images/yumkaax2.png" height="100"/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("CrearSolicitud","Solicitudes")" tabindex="-1" aria-disabled="true">Solicitar</a>
                    </li>
                </ul>
                <form class="d-flex">
                    @if (Session["IdUsuario"] != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("Perfil", "Perfil")"><span class="fa fa-user-circle"></span> &nbsp; Mi Perfil </a>
                    }
                    else
                    {
                        <a class="btn btn-outline-success" href="@Url.Action("Registro", "Registro")" style="margin-right:4px;">Registrate</a>
                        <a class="btn btn-outline-success" href="@Url.Action("Index", "Login")">Ingresar</a>
                    }

                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="w-100">
            <br />
        </div>
        @RenderBody()
        <hr />
        <div id="div2">

        </div>
    </div>
    <footer class="mt-auto footer-bl">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3 list-footer">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <div class="d-flex justify-content-center">
            <p>&copy; @DateTime.Now.Year - By Quetzalcoatl Technologies</p>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

</body>
</html>
